@model List<CategoriaModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Listado de Categorias</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i> Agregar</a>
    </div>
</div>

<div class="p-4 border rounded bg-light" id="miDiv">
    @if (Model.Count() > 0)
    {
        <table id="tblBodegas" class="table table-responsive table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bodega in Model)
                {
                    <tr>
                        <td>@bodega.Id</td>
                        <td>@bodega.Nombre</td>
                        <td>@bodega.Descripcion</td>
                        <td class="text-center">
                            @if (bodega.Estado)
                            {
                                <span class="badge bg-success"> Activo </span>
                            }
                            else
                            {
                                <span class="badge bg-danger"> Suspendido </span>
                            }
                        </td>
                        <td class="text-center">
                            <a class="btn btn-warning" title="Editar" asp-action="Upsert" asp-route-id="@bodega.Id"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-success" title="Ver detalle" asp-action="Detail" asp-route-id="@bodega.Id"><i class="bi bi-eye"></i></a>
                            <button class="btn btn-danger" title="Eliminar" onclick="DeleteCategoria(@bodega.Id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@section scripts {
    <script>
        new FilterTable();
    </script>
}